<%- include('partials/header') %>
<body>
    <h1>Universal Lighting Solutions</h1>
    <a href="/auth/google">Google Login</a>
    <a href="/appointments"></a>
    <a href="/customers">All Customers</a>
    <%- include('partials/footer') %>